body{
    background-color: darkslategray;
}

h1{
    text-align: center;
    color: white;
    text-shadow: 2px 2px 5px red;
}

.flexbox {
    align-items: center;
    display: flex;
    height: 100px;
    justify-content: center;
}