.imagen-fondo {
    background-image: url('../img/sfestetica-lugar2.jpg');
    min-height: 100vh;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    /*background-size: cover;
    text-align: center;
    display: block;
    max-width: 100%;
    height: auto;
    */
}